/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poly&display=swap');

html{
  scroll-behavior: smooth;
  
}
:root {
  --green: #DDDED3;
  --black: #161212;
  --white:#fff;
  --brown:#97704F;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'inter';
}


header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  z-index: 1000;
}
header nav{
  display: flex;
  gap: 8vw;
}
header a{
  text-decoration: none;
  color: var(--white);
  
}

header img{
  height: 28px;
}
.art{
  width: 100%;
  height: 100vh;
  background: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}
.art img{
  width: 294px;
}
.art section{
  display: flex;
  height: 537px;
  margin-top: 80px;
  gap: 60px ;
}
.art > p{
  font-family: 'Poly';
  font-size: 48px;
}
.card{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 346px;
  gap: 40px;
  border-radius: 8px;
  padding: 24px;
 
}
.card p{
  color: var(--brown);
}
.card div > *{
  padding: 8px 0px ;
}
.card button{
  background-color: var(--black);
  border: none;
  border-radius: 8px;
  color: var(--white);
  width: 156px;
  margin-top:10px;
  font-size: 18px;
  cursor: pointer;
}
.card button:hover{
  background: #1c1616f2;
}
.card button:active{
  background: #191313;
}
hr{
  width: 170px;
  border: 1px solid var(--brown);
  border-radius: 3px;
  
}




.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  color: var(--black);
}
.contact >p{
  font-size: 30px;
  font-weight: 700;
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  margin-top: 100px;
  margin-right: 180px;
}
.social img{
 height: 39px;
 cursor: pointer;
 
}

.social p{
  font-family: Poly;
  font-size: 36px;
  
}
.social > div{
 display: flex;
 align-items: center;
 gap: 25px;
 margin-top: 80px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
input,textarea{
  width: 420px;
  height: 50px;
  border: 1.2px solid #B4BEC8;
  border-radius: 4px;
  padding-left:18px ;
  font-size: 18px;
  color: #161212;
  position: relative;
  z-index: 100;
  background: transparent;
}
.form h3{
  font-size: 24px;
  font-weight: 500;
}
textarea{
  height: 137px;
  text-align: left;
  padding-top: 15px;
  resize: none;
}
.form button{
  background-color: var(--black);
  outline: var(--black);
  height:50px ;
  border-radius: 4px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.form > div{
  position: relative;
}
.nameLabel, .textLabel, .emailLabel{
  position:absolute ;
  top: 15px;
  left: 16px;
  font-size: 16px;
  color:#878787 ;
  padding:0px 4px;
  text-align: center;
  transition: all ease 0.5S;
}
.name:focus ~ .nameLabel,
.name:valid  ~ .nameLabel,
.email:focus ~ .emailLabel,
.email:valid ~ .emailLabel,
textarea:focus ~ .textLabel,
textarea:valid ~ .textLabel
{
  background: #FFF;
  top: -7px;
  left: 6PX;
  scale: 0.9;
  z-index: 100;
}
footer{
  background-color: var(--black);
  width: 100%;
  height: 60px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
}